WebContent/wsdl/ServicioEstudiante.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicioestudiante" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicioestudiante" xmlns:intf="http://servicioestudiante" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicioestudiante" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarEst">
    <complexType>
     <sequence>
      <element name="rutEst" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarEstResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="buscarEstReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerSituacionEstudiante">
    <complexType>
     <sequence>
      <element name="rutEstudiante" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerSituacionEstudianteResponse">
    <complexType>
     <sequence>
      <element name="obtenerSituacionEstudianteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="buscarEstResponse">

      <wsdl:part element="impl:buscarEstResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerSituacionEstudianteResponse">

      <wsdl:part element="impl:obtenerSituacionEstudianteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarEstRequest">

      <wsdl:part element="impl:buscarEst" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerSituacionEstudianteRequest">

      <wsdl:part element="impl:obtenerSituacionEstudiante" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioEstudiante">

      <wsdl:operation name="buscarEst">

         <wsdl:input message="impl:buscarEstRequest" name="buscarEstRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarEstResponse" name="buscarEstResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerSituacionEstudiante">

         <wsdl:input message="impl:obtenerSituacionEstudianteRequest" name="obtenerSituacionEstudianteRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerSituacionEstudianteResponse" name="obtenerSituacionEstudianteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioEstudianteSoapBinding" type="impl:ServicioEstudiante">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarEst">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarEstRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarEstResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerSituacionEstudiante">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerSituacionEstudianteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerSituacionEstudianteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioEstudianteService">

      <wsdl:port binding="impl:ServicioEstudianteSoapBinding" name="ServicioEstudiante">

         <wsdlsoap:address location="http://localhost:8080/ServicioTrabajoAplicado/services/ServicioEstudiante"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
