WebContent/wsdl/ServicioMensualidad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviciomensualidad" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciomensualidad" xmlns:intf="http://serviciomensualidad" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviciomensualidad" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="regPagoMensualidad">
    <complexType>
     <sequence>
      <element name="rutSc" type="xsd:string"/>
      <element name="rutEs" type="xsd:string"/>
      <element name="mes" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="regPagoMensualidadResponse">
    <complexType>
     <sequence>
      <element name="regPagoMensualidadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListMorososMensualidad">
    <complexType>
     <sequence>
      <element name="mes" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListMorososMensualidadResponse">
    <complexType>
     <sequence>
      <element name="obtenerListMorososMensualidadReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="regPagoMensualidadResponse">

      <wsdl:part element="impl:regPagoMensualidadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListMorososMensualidadResponse">

      <wsdl:part element="impl:obtenerListMorososMensualidadResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListMorososMensualidadRequest">

      <wsdl:part element="impl:obtenerListMorososMensualidad" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regPagoMensualidadRequest">

      <wsdl:part element="impl:regPagoMensualidad" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioMensualidad">

      <wsdl:operation name="regPagoMensualidad">

         <wsdl:input message="impl:regPagoMensualidadRequest" name="regPagoMensualidadRequest">

       </wsdl:input>

         <wsdl:output message="impl:regPagoMensualidadResponse" name="regPagoMensualidadResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListMorososMensualidad">

         <wsdl:input message="impl:obtenerListMorososMensualidadRequest" name="obtenerListMorososMensualidadRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListMorososMensualidadResponse" name="obtenerListMorososMensualidadResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioMensualidadSoapBinding" type="impl:ServicioMensualidad">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="regPagoMensualidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="regPagoMensualidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="regPagoMensualidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListMorososMensualidad">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListMorososMensualidadRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListMorososMensualidadResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioMensualidadService">

      <wsdl:port binding="impl:ServicioMensualidadSoapBinding" name="ServicioMensualidad">

         <wsdlsoap:address location="http://localhost:8080/ServicioTrabajoAplicado/services/ServicioMensualidad"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
