WebContent/wsdl/ServicioMatricula.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviciomatricula" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciomatricula" xmlns:intf="http://serviciomatricula" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviciomatricula" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtenerListMorososMatricula">
    <complexType/>
   </element>
   <element name="obtenerListMorososMatriculaResponse">
    <complexType>
     <sequence>
      <element name="obtenerListMorososMatriculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pagarMatricula">
    <complexType>
     <sequence>
      <element name="rutEstudiante" type="xsd:string"/>
      <element name="rutSecretaria" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pagarMatriculaResponse">
    <complexType>
     <sequence>
      <element name="pagarMatriculaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerListMorososMatriculaRequest">

      <wsdl:part element="impl:obtenerListMorososMatricula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListMorososMatriculaResponse">

      <wsdl:part element="impl:obtenerListMorososMatriculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pagarMatriculaRequest">

      <wsdl:part element="impl:pagarMatricula" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pagarMatriculaResponse">

      <wsdl:part element="impl:pagarMatriculaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioMatricula">

      <wsdl:operation name="obtenerListMorososMatricula">

         <wsdl:input message="impl:obtenerListMorososMatriculaRequest" name="obtenerListMorososMatriculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListMorososMatriculaResponse" name="obtenerListMorososMatriculaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pagarMatricula">

         <wsdl:input message="impl:pagarMatriculaRequest" name="pagarMatriculaRequest">

       </wsdl:input>

         <wsdl:output message="impl:pagarMatriculaResponse" name="pagarMatriculaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioMatriculaSoapBinding" type="impl:ServicioMatricula">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerListMorososMatricula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListMorososMatriculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListMorososMatriculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pagarMatricula">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pagarMatriculaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pagarMatriculaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioMatriculaService">

      <wsdl:port binding="impl:ServicioMatriculaSoapBinding" name="ServicioMatricula">

         <wsdlsoap:address location="http://localhost:8080/ServicioTrabajoAplicado/services/ServicioMatricula"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
