WebContent/wsdl/ServicioProfesor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicioprofesor" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicioprofesor" xmlns:intf="http://servicioprofesor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicioprofesor" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="registrarAsistencia">
    <complexType>
     <sequence>
      <element name="rutEst" type="xsd:string"/>
      <element name="idCurso" type="xsd:int"/>
      <element name="notaS" type="xsd:string"/>
      <element name="rutProf" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarAsistenciaResponse">
    <complexType>
     <sequence>
      <element name="registrarAsistenciaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPromedio">
    <complexType>
     <sequence>
      <element name="rutEst" type="xsd:string"/>
      <element name="idCurso" type="xsd:int"/>
      <element name="notaS" type="xsd:string"/>
      <element name="rutProf" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPromedioResponse">
    <complexType>
     <sequence>
      <element name="registrarPromedioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registrarPromedioResponse">

      <wsdl:part element="impl:registrarPromedioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarAsistenciaRequest">

      <wsdl:part element="impl:registrarAsistencia" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarPromedioRequest">

      <wsdl:part element="impl:registrarPromedio" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarAsistenciaResponse">

      <wsdl:part element="impl:registrarAsistenciaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioProfesor">

      <wsdl:operation name="registrarAsistencia">

         <wsdl:input message="impl:registrarAsistenciaRequest" name="registrarAsistenciaRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarAsistenciaResponse" name="registrarAsistenciaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPromedio">

         <wsdl:input message="impl:registrarPromedioRequest" name="registrarPromedioRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarPromedioResponse" name="registrarPromedioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioProfesorSoapBinding" type="impl:ServicioProfesor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="registrarAsistencia">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarAsistenciaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarAsistenciaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPromedio">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarPromedioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarPromedioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioProfesorService">

      <wsdl:port binding="impl:ServicioProfesorSoapBinding" name="ServicioProfesor">

         <wsdlsoap:address location="http://localhost:8080/ServicioTrabajoAplicado/services/ServicioProfesor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
